<%if @fr%>
<% if (@fr["status"]["sentiment"]==":)") %>
    <tr style="background-color: #dff0d8;"><% elsif (@fr["status"]["sentiment"]==":(") %>
    <tr style="background-color: #f2dede;"   ><% else  %>
    <tr style="background-color: #fcf8e3;">
<% end %>
<td><%= link_to @fr["name"], 'http://www.facebook.com/'+@fr["id"] %></td>
<td><%= link_to @fr["status"]["text"], 'http://www.facebook.com/'+@fr["id"]+'/posts/'+@fr["status"]["id"] %></td>
<td><% if (@fr["status"]["sentiment"]==":)") %> <%= image_tag("happy.png", :size => "40x40", :alt => "Happy")%>
  <% elsif (@fr["status"]["sentiment"]==":(")  %><%= image_tag("sad.png", :size => "40x40", :alt => "Sad")%>
  <% else %> <%= image_tag("blank.png", :size => "40x40", :alt => "Blank")%> <% end %> </td>
</tr>
<%end%>